* {
    box-sizing: border-box;
}

.card {
    position: relative;
    width: 300px;
}

.card-body {
    position: relative;
}

.card-img-top {
    max-height: 175px;
}

.card.interest {
    width: 200px;
    margin: 10px;
    /*padding: 10px;*/
}

.card .favorite {
    position: absolute;
    top: 20px;
    right: 20px;
    /*cursor: pointer;*/
}

.card .favorite img {
    width: 32px;
}

.card .areas-of-interest img, 
.course-details .areas-of-interest img,
.user-profile .areas-of-interest img {
    width: 24px;
    height: 24px;
}

img.course-type {
    width: 24px;
}
.blue {
    color: #009ec3;
}

.course-header {
    text-align:center;
}

.course-details .course-image {
    flex: 3;
}

.course-details .course-image img {
    width: 100%;
}

ul.actions li,
ul.attendees li {
    display: inline-block;
    text-decoration: none;
}

ul.actions li::after,
ul.attendees li::after {
    content: ' | ';
    margin-left: 2px;
    margin-right: 2px;
}

ul.actions li:last-child::after,
ul.attendees li:last-child::after {
    content: '';
}

.user-profile .profile-image img {
    border: 1px solid #009ec3;
}

.card .recommended {
    position: absolute;
    top: 20px;
    left: 20px;
    color:#009EC3;
    font-weight:bold;
    font-size:8pt;
}

.card.interest .card-footer {
    display: flex;
    justify-content: center;
    padding: 12px 5px;
    font-size: 8pt !important;
}

ul.actions {
    margin: 0;
    padding: 0;
}

ul.actions .fas {
    margin-right: 5px;
}

.required {
    color:red;
}

.edit-course {
    position: absolute;
    right: 20px;
    bottom: 20px;
}