{% extends 'classes/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Hey {{ profiled_user.first_name }}, let's get to know each other!</h1>
    <div class="row">
        <div class="col-md-8">
            <form action="{% url 'login_app:update_user_profile' profiled_user_id=profiled_user.id %}"
             method="POST" enctype="multipart/form-data" role="form" novalidate>
                {% csrf_token %}
                
                {% for field in form.visible_fields %}
                <div class="fieldWrapper form-group"
                 data-id="{{ field.name }}" 
                 aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                    {% for error in field.errors %}
                    <p class="alert alert-danger"><strong>{{ error }}</strong></p>
                    {% endfor %}
                    
                    {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}

                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}

		        <input type="submit" class="btn btn-primary mb-2" value="Submit" />
            </form>
        </div>
        <div class="right-column col-md-4">
            <!-- picture upload -->

            <!-- button-bar -->

        </div>
    </div>
</div>

<script>
    var static_prefix = "{% get_static_prefix %}"
</script>
<script defer src="{% static 'classes/interest-buttons.js' %}"></script>

{% endblock content %}