{% extends 'classes/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Add a class</h1>
    <div class="row">
        <div class="col-md-8">
            <form action="{% if action == 'new' %}{% url 'classes:get_class' %}{% else %}{% url 'classes:update_class' course_id=course.id %}{% endif %}" method="POST" role="form" novalidate>
                {% csrf_token %}
                
                {% for field in form.visible_fields %}
                <div class="fieldWrapper form-group" aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                    {% for error in field.errors %}
                    <p class="alert alert-danger"><strong>{{ error }}</strong></p>
                    {% endfor %}
                    
                    {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}

                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}

		        <input type="submit" class="btn btn-primary mb-2" value="Submit" />
            </form>
        </div>
        <div class="col-md-4">
            <!-- Other column -->
        </div>
    </div>
</div>
{% endblock content %}