{% extends 'classes/base.html' %}

{% block content %}
    <div class="header d-flex justify-content-between align-items-center">
        <div class="d-inline-flex align-items-center">
            <h1 class="">Courses</h1>
            <a href="{% url 'classes:get_class' %}" class="btn btn-info mx-3" role="button" style="font-weight:bold;">New</a>
            <a href="{% url 'classes:interests' %}" class="btn btn-info" role="button" style="font-weight:bold;"><small>Areas of Interest</small></a>
        </div>    
    </div>

    <div class="content d-flex justify-content-center">
        {% include 'classes/card-course.html' with user=user courses=page_obj.object_list page_obj=page_obj current_page=current_page %}
    </div>  
{% endblock content %}